@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

#container-main {
  width: 100vw;
  height: 100vh;
}
#container-left {
  position: relative;
  float: left;
  width: 70vw;
  height: 100vh;
  z-index: 10;
}
.container-nav {
  position: relative;
  float: left;
  width: 20vw;
  height: 100vh;
  border-right: .1px solid white;
}
.nav-1 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 9vh;
  left: 3vw;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  z-index: 20;
}
.nav-2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 9vh;
  left: 3vw;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 20px;
  line-height: 30px;
  z-index: 19;
}
.nav-3 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 9vh;
  left: 3vw;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 20px;
  line-height: 30px;
}
.nav-1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav-2:hover {
  text-decoration: underline;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#container-middle-1 {
  position: absolute;
  left: 20vw;
  width: 50vw;
  height: 100vh;
  background-color: #64C793;
  z-index: 8;
}
.txt-middle {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Source Code Pro', monospace;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
#container-middle-2 {
  position: absolute;
  left: 20vw;
  width: 50vw;
  height: 100vh;
  background-image: url(https://media0.giphy.com/media/26AHONQ79FdWZhAI0/giphy.gif?cid=ecf05e47of72v3i5jdvjwumjbpqigii4qzh5rh4d8idtxyo0&rid=giphy.gif&ct=g);
  background-position: center center;
  background-size: 50%;
  z-index: 9;
  opacity: 0;
}
.filter {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: #64C793;
  opacity: 1;
  mix-blend-mode: hard-light;
}
#container-right {
  position: relative;
  float: left;
  width: 30vw;
  height: 100vh;
  overflow: hidden;
}
.container-gif-1 {
  width: 100%;
  height: 50%;
  background-image: url(https://media1.giphy.com/media/81rhfNBHSSN5G5iIUr/giphy.gif?cid=790b7611435157fc180bcb163ad3c37281792521d3049d16&rid=giphy.gif&ct=g);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-left: .1px solid white;
  border-bottom: 1px solid white;
}
.container-gif-2 {
  width: 100%;
  height: 50%;
  background-image: url(https://media0.giphy.com/media/O4Iu7E1mvTFz8FP8OI/giphy.gif?cid=790b76111d3a81c2aab6125f62935fba24f35be185ad3215&rid=giphy.gif&ct=s);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-left: .1px solid white;
}