canvas {
    background-color: #b7c7c1;
    width: 427px;
    height: 613px;
    margin: 5% auto 0 5%;
    display: inline-block;
    background-image: url(http://farm4.staticflickr.com/3023/2522909336_907650917f_z.jpg?zz=1)
}
canvas:hover {
    background-image: none;
}

img {
    float: right;
    width: 427px;
    height: 640px;
    margin: 5% 5% 0 auto;
}